*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    background-image: url("https://cdn24.img.ria.ru/images/07e4/07/11/1574507481_0:160:3072:1888_1920x0_80_0_0_78db128ab5168752ec4d9f70b0ac4e5a.jpg");
    background-size: auto;
}

.roulette{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.roulette-wrap{
    overflow: hidden;
    height: 550px;
    margin-top: 150px;
}

.element {
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}

.win{
    border: 5px solid #19b400;
    transform: scale(1.2);
}

.btn{
    padding: 10px;
    font-size: 30px;
    width: 200px;
    color: white;
    background-color: black;
    transition: .2s;
    border: none;
}

.btn:hover{
    background-color: #3e004c;;
}

@media (max-width: 425px) {
    #root{
        height: 100%;
    }

    .roulette-wrap{
        margin-top: 0;
    }
}